pkgbase = antigravity-bin
	pkgdesc = Google Antigravity - Agentic Development Platform (Pre-built Binary)
	pkgver = 1.20.6
	pkgrel = 4
	url = https://antigravity.google/
	arch = x86_64
	license = Proprietary
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = glibc
	depends = nspr
	depends = at-spi2-core
	depends = libdrm
	depends = mesa
	options = !strip
	source = https://edgedl.me.gvt1.com/edgedl/release2/j0qc3/antigravity/stable/1.20.6-5891862175809536/linux-x64/Antigravity.tar.gz
	sha256sums = ad382bf321a6216d07f95af1f613e03f5a07fdf6fc6632b769ce83d81afdd567

pkgname = antigravity-bin
