pkgbase = antigravity-bin
	pkgdesc = Google Antigravity - Agentic Development Platform (Pre-built Binary)
	pkgver = 1.16.5
	pkgrel = 4
	url = https://antigravity.google/
	arch = x86_64
	license = Proprietary
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = glibc
	depends = nspr
	depends = at-spi2-core
	depends = libdrm
	depends = mesa
	options = !strip
	source = https://edgedl.me.gvt1.com/edgedl/release2/j0qc3/antigravity/stable/1.16.5-6703236727046144/linux-x64/Antigravity.tar.gz
	sha256sums = 1953c62452d32a72e595f7fa832c7a7ed9072d22c9cf99df3a22c249a97f5e97

pkgname = antigravity-bin
