pkgbase = antigravity-bin
	pkgdesc = Google Antigravity - Agentic Development Platform (Pre-built Binary)
	pkgver = 1.15.8
	pkgrel = 4
	url = https://antigravity.google/
	arch = x86_64
	license = Proprietary
	depends = gtk3
	depends = nss
	depends = alsa-lib
	depends = libxss
	depends = libxtst
	depends = xdg-utils
	depends = glibc
	depends = nspr
	depends = at-spi2-core
	depends = libdrm
	depends = mesa
	options = !strip
	source = https://edgedl.me.gvt1.com/edgedl/release2/j0qc3/antigravity/stable/1.15.8-5724687216017408/linux-x64/Antigravity.tar.gz
	sha256sums = 44afc76e06599b5eed8eab68db3d2c553c77ea6b9cc7652250e3d1a58bbb1498

pkgname = antigravity-bin
